# Ignorar archivos de XAMPP
/xampp/

# Ignorar archivos de configuración sensibles
/config.php

# Ignorar archivos de dependencias
.env
/vendor/

# Ignorar archivos de IDE
.idea/
.vscode/

# Ignorar archivos de sistema
.DS_Store