/* Boton negro de formularios */
.blackButton {
    background-color: #000;
    border-radius: 30px;
    color: #fff;
    border: none;
    padding: 10px 18px;
    font-size: 14.5px;
    font-weight: 600;
    text-decoration: none;
}

.blackButton:hover {
    background-color: #272626;
}

/* Boton naranja de formularios */
.orangeButton {
    background-color: #df7025;
    border-radius: 30px;
    color: #fff;
    border: none;
    padding: 10px 18px;
    font-size: 14.5px;
    font-weight: 600;
    text-decoration: none;
}

.orangeButton:hover{
    background-color: #be5f1f;
}